<!DOCTYPE html>
<html cla>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    params[:controller] %>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "animate" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag params[:controller] %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
